#secondline	{ display:none;
			}
#header-right { display:none;
    width: 330px;
    height: 80px;
    background: url("/sites/all/themes/InspiroB/images/stripes_black.png") repeat-x scroll 0px 0px rgb(255, 255, 255);
}

#navigation {
    position: relative;
    display: block;
    height: 80px;
    width: 100%;
}

#block-views-portfolio-client-images-block {	padding-top: 0;
}

#block-contactinfo-hcard {
    width: 280px;
    /*background: url("/sites/all/themes/InspiroB/images/world_map.png") no-repeat scroll 40px 50px transparent;*/
	background: none;
    padding: 20px 20px 20px 0;
    float: left;
}
#controls-container	{ 	background:#000;
					}
					
.contact-block, .contact-block a, 
.contact-block p ,
.contact-block #block-contactinfo-hcard .street-address,
.contact-block #block-contactinfo-hcard .locality { color:#000;}
	
.social-network	{ color:#fff;
				}

#navigation #main-menu > ul a { font-size: 1.2em;
							    height: 80px;
							    line-height: 80px;
							    color: rgb(137, 137, 137);
							    padding: 0px 15px;
							    text-decoration: none;
}				
										