/* Inspiro Colors ICE */



h1, h2, h3, h4, h5, h6 { color: #4a4a4a;}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #4a4a4a;}


h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #868686;}

h2 { color: #4a4a4a;}
#navigation .selector { background: #d0d0d0;}

#navigation #main-menu > ul > li > a.active {
    background: none repeat scroll 0 0 #d0d0d0;
    color: #4a4a4a;
}
#navigation #main-menu > ul > li > a.active-trail {	background-color: #d0d0d0;color: #4a4a4a;}


body a { color: #4a4a4a;}


body a:hover { text-decoration: none; color: #868686;}

.progressbar-yellow .progressbar-inner{background-color:#d0d0d0;}

.progressbar .progressbar-inner{background-color:#d0d0d0;}


.field-name-field-tags a{ background: #d0d0d0; }


.form-submit {background-color:#d0d0d0; color:#4a4a4a;}

.links li a {background-color:#d0d0d0; color:#4a4a4a;}


.links li a:hover {  background-color: #dfdfdf;  color: #868686;}

.pictured { background-color:#d0d0d0; color:#4a4a4a;}

.button { background-color:#d0d0d0; color:#4a4a4a;}

.button a:hover { background-color:#dfdfdf; }