/* Inspiro Colors BLUE */


h1, h2, h3, h4, h5, h6 { color: #666666;}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #666666;}


h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #b2c6d1;}

h2 { color: #666666;}
#navigation .selector { background: #2f4a79;}
#navigation #main-menu > ul > li > a.active {background: none repeat scroll 0 0 #2f4a79;  color: #FFFFFF;}
#navigation #main-menu > ul > li > a.active-trail {	background-color: #2f4a79;color: #fff;}


body a { color: #666666;}


body a:hover { text-decoration: none; color: #b2c6d1;}

.progressbar-yellow .progressbar-inner{background-color:#2f4a79;}

.progressbar .progressbar-inner{background-color:#2f4a79;}

.field-name-field-tags a{ background: #2f4a79; }

.form-submit {background-color:#2f4a79; color:#FFF;}

.links li a {background-color:#2f4a79; color:#FFF;}


.links li a:hover {  background-color: #b2c6d1;  color: #FFF;}

.pictured { background-color:#2f4a79; color:#FFF;}

.button { background-color:#2f4a79; color:#FFF;}

.button a:hover { background-color:#b2c6d1; }